@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  transition: all;
  transition-duration: 700ms;
  transition-timing-function: ease-out;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

#hro{
  background-image: url('wallpapers.jpg');
  background-size: cover;
  background-position: center;

}
#con{
  width: 90%;
}
